body {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #FDFCEA;
}

.header {
    display: flex;
}

.header .logo{
    height: 150px;
    width: 150px;
    margin: 20px 60px 20px 160px;

    background-image: url(../img/logo.jpg);
    background-size: contain;
}

.header .lname{
    margin-top: 40px;
    line-height: 150px;
    font-size: 50px;
    font-weight: bolder;
    color: #535353;
}

.container {
    display: flex;
}

.sidebar {
    width: 300px;
    background-color: #ecebe1;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar a {
    text-align: center;
    height: 100px;
    line-height: 100px;

    font-size: 20px;
    font-weight: bold;
    color: #535353;
}

.nav-link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}


.nav-link:hover {
    background-color: #ddd;
}

/* 右边栏 */
.content {
    flex-grow: 1;
    padding: 20px 40px;

    border-top: 5px solid #ecebe1;
}

.page {
    transition: opacity 0.5s;
    margin: 30px;
}

.page h2{
    display: inline-block;
    margin-left: 50px;
    font-size: 40px;
    color: #535353;
}

.page h3{
    display: inline-block;
    margin-left: 50px;
    color: #535353;
}

/* ctop */
.ctop{
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 20px;
}

.add{
    height: 40px;
    font-size: 20px;
}

  
  .content table button{
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-left: none;
    background-color: #7b7b7b;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    transition: all 0.3s ease;
  }

  
  .content button:hover {
    opacity: 0.8;
  }
  
  .content button:active {
    background-color: #5f5f5f;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }

/* 表格 */
.content table {
    width: 100%;
    text-align: center;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.content th, td {
    padding-left: 20px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #535353;
    font-size: 20px;
    line-height: 60px;
}

.content th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

.content tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.content tbody tr:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.content td:last-child, th:last-child {
    text-align: center; /* 如果"操作"列需要居中显示的话 */
}

.content table button{
    background-color: #7b7b7b; 
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.content table button:hover {
    opacity: 0.8;
}

.content .btngroup{
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    justify-content: center;
}

.content .btngroup button{
    font-size: 12px;

}


/* 确认下单 */
/* 模态对话框背景 */
.modal {
    display: none;
    /* 默认隐藏 */
    position: fixed;
    /* 固定位置 */
    z-index: 1;
    /* 确保在最上层 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* 允许滚动 */
    background-color: rgba(0, 0, 0, 0.4);
    /* 半透明黑色背景 */
}

/* 模态内容 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 位置居中 */
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    /* 可调整宽度 */
}

.modal-content h3{
    margin-bottom: 10px;
    color: #535353;
    font-size: 30px;
    text-align: center;

}

.modal-content h4{
    margin-top: 10px;
    color: #535353;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
}

.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button {
    margin: 30px 200px 30px 200px;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-left: none;
    background-color: #7b7b7b;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    transition: all 0.3s ease;

}

#modal-good-name, #modal-good-id {
    margin-bottom: 10px;
    color: #333;
}

/* 提示文字样式 */

.modal-content button:hover {
    background-color: #535353; /* 鼠标悬停时加深颜色 */
}

/* 输入框基础样式 */
.modal-content form input[type="text"] {
    display: block; /* 如果需要换行显示 */
    width: 80%; /* 使输入框宽度充满其容器，可以根据需要调整 */
    padding: 10px 15px; /* 内边距，提升用户体验 */
    margin: 5px 50px; /* 外边距，上下外边距5px，左右为0，保持紧凑 */
    border: 1px solid #ccc; /* 边框颜色和宽度 */
    border-radius: 4px; /* 圆角 */
    box-sizing: border-box; /* 包含内边距和边框的宽度计算 */
    font-size: 14px; /* 字体大小 */
    outline: none; /* 移除焦点时的轮廓 */
    transition: border-color 0.3s ease-in-out; /* 边框颜色过渡效果 */
}

/* 输入框聚焦时的样式，提升交互体验 */
.modal-content form input[type="text"]:focus{
    border-color: #007bff; /* 更改边框颜色以指示聚焦状态，颜色可自定义 */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 123, 255, 0.1); /* 添加轻微阴影 */
}


/*                   */
.ctop button{
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-left: none;
    background-color: #7b7b7b;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    transition: all 0.3s ease;
  }